<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Google Contacts Integration</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="content">
            <h1>Google Contacts Integration</h1>
            <div class="login-section">
                <a th:href="@{/oauth2/authorization/google}" class="login-button">
                    <img src="https://www.google.com/favicon.ico" alt="Google Icon" class="google-icon">
                    Sign in with Google
                </a>
            </div>
        </div>
    </div>
</body>
</html>
